* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
body{
  background: #EFE8E1;
  margin-bottom: 68px;
  }
.nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: block;
  padding: 0.6% 4%;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(5px);
  /* background: rgba(217, 217, 217, 0.1);
box-shadow: inset 72px -72px 72px rgba(165, 165, 165, 0.1), inset -72px 72px 72px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(72px); */
}

.navbar-brand {
  color: bisque;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.nav-link:hover {
  color: #ff6b00;
  font-weight: 400;
}

#drop {
  width: 1.2rem;
  height: 1.2 rem;
  stroke: aliceblue;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.login {
  width: 90%;
  height: 30%;
}

P {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 200;
}

.carousel-caption {
  z-index: 0;
  left: 4%;
}

.carousel-control-next-icon {
  background-image: none;
}
.carousel-control-prev-icon {
  background-image: none;
}

.b1 {
  height: 70vh;
  object-fit: cover;
  object-position: top left;
}
.b2 {
  height: 70vh;
  object-fit: cover;
  object-position: bottom center;
}
.b3 {
  height: 70vh;
  object-fit: cover;
  object-position: center;
}
p {
  font-weight: 300;
}

.searchbar {
  /* background: #000; */
  margin-top: 6%;
  width: 40%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background: none; 
}

.search {
  width: 100%;
}

.sea {
  width: 30%;
  padding: 0;
  background: #004f62;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border-radius: 0;

}
.sea:hover {
  width: 30%;
  padding: 0;
  background: #ffffff;
  color: #004f62;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border:0.02rem solid #004f62 ;
  border-radius: 0;

}
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 0.8px solid #000;
  height: 60%;
  font-family: "Inter";
  font-weight: 400;
  background: none;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 0.8px solid #000000;
  font-weight: "Inter";
  background: none; 
}

h5 {
  font-size: 1.5rem;
  font-family: "Inter";
}

.decription {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Inter";
}

.r1 {
  margin: 0 8%;
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
  object-position: center;
  margin-bottom: 8%;
}
a{
  color: #004f62;
  text-decoration: none;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
}
.r2{
  object-position: center;
  margin: 1% 0 ;
}
.ex {
  color: white;
  background: #004f62;
  border: 0;
  font-family: "Inter";
  font-weight: 200;
  height: 1.8rem;
}
.ex:hover{
  background:  white;
  color: #004f62;
  font-weight: 500;
}
.what{
  font-family:"PT Sans";
   margin-top: 2%; 
}

.icon{
  margin-right: 4%;
}
.iconbutton{
  text-align: end;
  font-family: "inter";
  font-weight: 500;
  width: 100% ;
  object-position: center;
  background-color: #fff;
  color:#004f62;
  border-radius: 0;
  border: none;
  height: 2.8rem;
}
.iconbutton:hover{
  text-align: end;
  font-family: "inter";
  font-weight: 500;
  width: 100% ;
  object-position: center;
  background-color: #004f62;
  color:#fff;
  border-radius: 0;
  border: none;
  height: 2.8rem;
}

.explore:hover{
  /* text-decoration: underline; */
  border-bottom: 0.1rem solid #004f62;
  color: #004f62;

}


@media screen and (max-width:976px) {
  .r2{
    object-position: center;
    margin: 1% 0 ;
  }
}



  


/* 481px — 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .b1 {
    height: 70vh;
    object-fit: cover;
    object-position: top center;
  }

  .b2 {
    height: 70vh;
    object-fit: cover;
    object-position: bottom center;
  }
  .b3 {
    height: 70vh;
    object-fit: cover;
    object-position: bottom center;
  }
  p {
    font-weight: 3000;
  }
  .searchbar {
    /* background: #000; */
    margin-top: 8%;
    width: 86%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .sea {
    width: 30%;
    padding: 0;
    background: #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
  }

  .r1 {
    margin: 0 1%;
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
  }

  .three_card {
    margin-top: 3rem;
    width:44%
  }
  .one_card {
    
    width:44%
  }
  .two_card {

    width:44%
  }
  .what{
    margin-top: 14%;
} 
}

@media screen and (max-width: 481px) and (min-width: 260px) {
  .searchbar {
    margin-top: 10%;
    /* background: #000; */
    width: 80%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .sea {
    width: 30%;
    padding: 0;
    background: #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
  }

  .form-control {
    padding-left: 8px;
  }

  .r1 {
    margin: 6% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .one_card {
    margin-top: 3rem;
    width: 86%;
  }
  .two_card {
    margin-top: 3rem;
    width: 86%;
  }
  .three_card {
    margin-top: 3rem;
    width: 86%;
  }
  .what{
       margin-top: 14%;
}
  .r2{
        object-position: center;
        display: flex;
        justify-content:center;
        align-items: center;
  }
  .iconbutton{
    object-position: center;
    text-align: end;
    font-family: "inter";
    font-weight: 500;
    width: 100% ;
    object-position: center;
    background-color: #fff;
    color:#004f62;
    border-radius: 0;
    border: none;
    height: 2.8rem;
  }
}
