* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background: #efe8e1;
  margin-bottom: 68px;
}

.nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: block;
  padding: 0.6% 4%;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(5px);
  /* background: rgba(217, 217, 217, 0.1);
box-shadow: inset 72px -72px 72px rgba(165, 165, 165, 0.1), inset -72px 72px 72px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(72px); */
}

.navbar-brand {
  color: bisque;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.nav-link:hover {
  color: #ff6b00;
  font-weight: 400;
}

#drop {
  width: 1.2rem;
  height: 1.2 rem;
  stroke: aliceblue;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.login {
  width: 90%;
  height: 30%;
}

P {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 200;
}

.carousel-caption {
  z-index: 0;
  left: 4%;
}

.b1 {
  height: 70vh;
  object-fit: cover;
  object-position: top left;
}

.b2 {
  height: 70vh;
  object-fit: cover;
  object-position: bottom center;
}

.b3 {
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

p {
  font-weight: 300;
}

.searchbar {
  /* background: #000; */
  margin-top: 6%;
  width: 40%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background: none;
}

.search {
  width: 100%;
}

.sea {
  width: 30%;
  padding: 0;
  background: #004f62;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border-radius: 0;
}

.sea:hover {
  width: 30%;
  padding: 0;
  background: #ffffff;
  color: #004f62;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: 0.02rem solid #004f62;
  border-radius: 0;
}

.s {
  border: none;
  border-radius: 0;
  border-bottom: 0.8px solid #000;
  height: 60%;
  font-family: "Inter";
  font-weight: 400;
  background: none;
}

.s:focus {
  box-shadow: none;
  border-bottom: 0.8px solid #000000;
  font-weight: "Inter";
  background: none;
}

h5 {
  font-size: 1.5rem;
  font-family: "Inter";
}

.decription {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Inter";
}

.r1 {
  margin: 0 8%;
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
  object-position: center;
  margin-bottom: 8%;
}

a {
  color: #004f62;
  text-decoration: none;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
}

.r2 {
  object-position: center;
  margin: 0;
}

.ex {
  color: white;
  background: #004f62;
  border: 0;
  font-family: "Inter";
  font-weight: 200;
  height: 1.8rem;
}

.ex:hover {
  background: white;
  color: #004f62;
  font-weight: 500;
}

.what {
  font-family: "PT Sans";
  margin-top: 2%;
}

.icon {
  margin-right: 4%;
}

.iconbutton {
  text-align: end;
  font-family: "inter";
  font-weight: 500;
  width: 100%;
  object-position: center;
  background-color: #fff;
  color: #004f62;
  border-radius: 0;
  border: none;
  height: 2.8rem;
}

.iconbutton:hover {
  text-align: end;
  font-family: "inter";
  font-weight: 500;
  width: 100%;
  object-position: center;
  background-color: #004f62;
  color: #fff;
  border-radius: 0;
  border: none;
  height: 2.8rem;
}

.explore:hover {
  /* text-decoration: underline; */
  border-bottom: 0.1rem solid #004f62;
  color: #004f62;
}

/* ................................................................................... */
.airticket {
  position: relative;
  margin-top: 6%;
  width: 90%;
}

.trip {
  margin-top: 0.8rem;
  display: inline;
}

.trip_type,
#exampleDataList,
#exampleDataListp,
label {
  font-family: "Inter";
}

.trip_type {
  color: #004f62;
  font-weight: 500;
}

.trip_type:hover {
  cursor: pointer;
}

.type {
  margin-bottom: 0;
  font-family: Raleway;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.destiny {
  margin-top: 2%;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fare {
  margin-top: 2.5%;
}

.fare_type {
  margin-right: 1.5rem;
  padding: 0.8% 2%;
}

.fare_type:hover {
  margin-right: 1.5rem;
  padding: 0.8% 2%;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #004f62;
  border-color: #004f62;
}

.form-check-input:focus {
  border-color: #004f61;
  outline: 0;
  box-shadow: #004f6150;
}

.flight {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 0; */
  bottom: -1.5rem;
  margin: auto;

  border: none;
  font-family: Inter;
  width: 20%;
  padding: 1% 0 !important;
}

.flight:hover {
  font-family: Inter;
  width: 20%;
  padding: 1% 0 !important;
}
.car {
  width: 70%;
  height: 50%;
  /* background-color: aqua; */
}
.i {
  object-fit: cover;
  height: 100%;
}
.testi {
  width: 70%;
  height: 45%;
}


.test{
   margin-top:8%;
   height:100vh; 
  background-color: #004f62;}

.ico {
  /* background-color: #004f6175;   */
  /* border-radius: 20px; */
  margin: 30%;
  height: 60px;
  color: #000000;
}

.slid {
  opacity: 0 !important;
}

.feed {
  text-align: justify;
  padding: 0 2%;
  height: 60%;
  font-size: 1rem;
  font-weight: 300;
}

.client {
  padding: 0 1%;
  font-family: Inter;
  font-weight: 600;

  color: #004f62 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin: 0;
  height: 2rem;
  width: 2rem;
}

.col-md-7 {
  display: flex;
  align-items: center;
}


/* ...................................................................................................................................... */
@media screen and (max-width: 1210px) {
  .fare {
    margin-top: 8%;
  }

  .trav {
    margin-top: 2%;
  }

  .date {
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 1209px) {
  .traveller {
    width: 100%;
  }
}

@media screen and (max-width: 976px) {
  .r2 {
    object-position: center;
    margin: 1% 0;
  }

  /* .imgwrap{
    width: 40%;
    /* height: 30%; */
}

@media screen and (max-width: 1200px) {
  .depa {
    width: 60%;
  }

  .destination {
    width: 100%;
  }

  .airticket {
    width: 100%;
  }
}

/* 481px — 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .b1 {
    height: 70vh;
    object-fit: cover;
    object-position: top center;
  }
  .b2 {
    height: 70vh;
    object-fit: cover;
    object-position: bottom center;
  }
  .b3 {
    height: 70vh;
    object-fit: cover;
    object-position: bottom center;
  }
  p {
    font-weight: 3000;
  }
  .searchbar {
    /* background: #000; */
    margin-top: 8%;
    width: 86%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .sea {
    width: 30%;
    padding: 0;
    background: #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
  }
  .sea:hover {
    width: 30%;
    padding: 0;
    background: #ffffff;
    color: #004f62;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 0.02rem solid #004f62;
    border-radius: 0;
  }
  h5 {
    margin-top: 1.1%;
  }
  .r1 {
    margin: 0 1%;
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
  }
  .three_card {
    margin-top: 3rem;
    width: 44%;
  }
  .one_card {
    width: 44%;
  }
  .two_card {
    width: 44%;
  }
  .what {
    margin-top: 14%;
  }
  .airticket {
    margin-top: 6%;
    width: 100vw;
  }
.fare_type1 {
    font-size: 0.9rem;
  }
  .date {
    margin-top: 3%;
  }
  .list {
    margin-right: 2%;
    font-size: 0.9rem;
    display: inline;
    flex-direction: row;
    justify-content: start;
    padding-left: 1%;
  }
  .sea {
    width: 30%;
    padding: 0;
    background: #004f62;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 0;
  }
  .flight {
    position: absolute;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: -0.8rem;
    margin: auto;
    border: none;
    font-family: Inter;
    width: 25%;
    padding: 1% 0 !important;
  }
  .car {
    width: 85%;
    height: 50%;
    background-color: aqua;
  }
  .testi {
    width: 60%;
    height: 80%;
  }
  .i {
    object-fit: fill;
    border-radius: 0 !important;
  }
  .slid {
    opacity: 1 !important;
  }
  .test{
    margin-top:10%;
    height:100vh; 
   background-color: #004f62;}
}

@media screen and (max-width: 840px) and (min-width: 760px) {
  .testimoniala {
    height: 90%;
  }
}

@media screen and (max-width: 481px) and (min-width: 260px) {
  .searchbar {
    margin-top: 10%;
    /* background: #000; */
    width: 80%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .sea {
    width: 30%;
    padding: 0;
    background: #000;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
  }
  .sea:hover {
    width: 30%;
    padding: 0;
    background: #ffffff;
    color: #004f62;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    border: 0.02rem solid #004f62;
    border-radius: 0;
  }
  .s {
    padding-left: 8px;
    font-size: 0.8rem;
    
  }
  .r1 {
    margin: 6% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .one_card {
    margin-top: 3rem;
    width: 86%;
  }
  .two_card {
    margin-top: 3rem;
    width: 86%;
  }
  .three_card {
    margin-top: 3rem;
    width: 86%;
  }
  .what {
    margin-top: 14%;
  }
  .r2 {
    margin: 0 10%;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconbutton {
    object-position: center;
    text-align: end;
    font-family: "inter";
    font-weight: 500;
    width: 100%;
    object-position: center;
    background-color: #fff;
    color: #004f62;
    border-radius: 0;
    border: none;
    height: 2.8rem;
  }
  .airticket {
    margin-top: 16%;

    width: 90%;
  }
  h5 {
    margin-top: 2%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .trip_type {
    font-size: 0.8rem;
  }
  .type {
    font-size: 0.8rem;
  }
  .list {
    margin-right: 2%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 6%;
  }
  .type {
    font-size: 0.8rem;
  }

  .tripoption {
    display: flex;
    flex-direction: column;
  }
  .traveller {
    margin-bottom: 10%;
  }
  .sea {
    width: 40%;
    padding: 0 1%;
    background: #004f62;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;

    border-radius: 0;
  }
  .flight {
    position: absolute;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: -1rem;
    margin: auto;

    border: none;
    font-family: Inter;
    font-size: 0.8rem;
    width: 35%;
    height: 6%;
  }
  .trip_type {
    font-size: 1rem;
  }
  .ra {
    display: flex;
    flex-direction: column;
  }
  .rad {
    display: flexbox;
    margin-top: 2%;
  }
  .car {
    width: 90%;
    height: 50%;
    background-color: aqua;
  }
  .testi {
    width: 95%;
    height: auto;
  }
  .ico {
    background-color: #004f6175;
    /* border-radius: 20px; */
    margin: 20%;
    height: 60px;
    display: none;
  }
  .i {
    border-radius: 0 !important;
  }
  .slid {
    opacity: 1 !important;
  }
  .test{
    margin-top:18%;
    height:100vh; 
   background-color: #004f62;}

   .textwrap{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
}